In [1]:
import pandas as pd

In [3]:
ad_clicks = pd.read_csv('ad_clicks.csv')\

print(ad_clicks.head())

                                user_id utm_source           day  \
0  008b7c6c-7272-471e-b90e-930d548bd8d7     google  6 - Saturday
1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook    7 - Sunday
2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter   2 - Tuesday
3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google   2 - Tuesday
4  012137e6-7ae7-4649-af68-205b4702169c   facebook    7 - Sunday

  ad_click_timestamp experimental_group
0               7:18                  A
1                NaN                  B
2                NaN                  A
3                NaN                  B
4                NaN                  B

In [4]:
#which ad platform is getting the most views  
ad_clicks.groupby('utm_source')\
    .user_id.count()\
    .reset_index()

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

In [ ]:
# a new column, which is True if ad_click_timestamp is not null 
ad_clicks['is_click'] = ~ad_clicks\
   .ad_click_timestamp.isnull()