In [10]:
import pandas as pd

In [11]:
ad_clicks = pd.read_csv('ad_clicks.csv')\

print(ad_clicks.head())

                                user_id utm_source           day  \
0  008b7c6c-7272-471e-b90e-930d548bd8d7     google  6 - Saturday
1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook    7 - Sunday
2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter   2 - Tuesday
3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google   2 - Tuesday
4  012137e6-7ae7-4649-af68-205b4702169c   facebook    7 - Sunday

  ad_click_timestamp experimental_group
0               7:18                  A
1                NaN                  B
2                NaN                  A
3                NaN                  B
4                NaN                  B

In [12]:
#which ad platform is getting the most views  
ad_clicks.groupby('utm_source')\
    .user_id.count()\
    .reset_index()

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

In [13]:
# a new column, which is True if ad_click_timestamp is not null 
ad_clicks['is_click'] = ~ad_clicks\
   .ad_click_timestamp.isnull()

In [14]:
print(ad_clicks)

                                   user_id utm_source            day  \
0     008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
1     009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
2     00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
3     011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4     012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
...                                    ...        ...            ...
1649  fe8b5236-78f6-4192-9da6-a76bba67cfe6    twitter     7 - Sunday
1650  fed3db6d-8c92-40e3-a4fb-1fb9d7337eb1   facebook     5 - Friday
1651  ff3a22ff-521c-478c-87ca-7dc7b8f34372    twitter  3 - Wednesday
1652  ff3af0d6-b092-4c4d-9f2e-2bdd8f7c0732     google     1 - Monday
1653  ffdfe7ec-0c74-4623-8d90-d95d80f1ba34   facebook   6 - Saturday

     ad_click_timestamp experimental_group  is_click
0                  7:18                  A      True
1                   NaN                  B     False
2                   NaN                  A     False
3                   NaN                  B     False
4                   NaN                  B     False
...                 ...                ...       ...
1649                NaN                  A     False
1650                NaN                  B     False
1651                NaN                  B     False
1652              22:57                  A      True
1653                NaN                  B     False

[1654 rows x 6 columns]